:root {
  --wl-menu-width: 286px;
  --color-wl-background: hsl(0, 0%, 100%);
  --color-wl-border: oklch(92% 0.004 286.32);
}

.dark {
  --color-wl-background: oklch(21% 0.006 285.885);
  --color-wl-border: oklch(27.4% 0.006 286.033);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-wl-border);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

html {
  scrollbar-gutter: stable;
  background: var(--color-wl-background);
}

html.dark {
  color-scheme: dark;
  background: var(--color-wl-background);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* 分方向控制层级：
    - 切到 dark：old 在上层（内收）
    - 切到 light：new 在上层（外扩）
*/
::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 2147483646;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}
