:root {
  --wl-menu-width: 286px;
  --color-wl-background: hsl(0, 0%, 98%);
  --color-wl-border: hsla(0, 0%, 60%, 0.2);
}

.dark {
  --color-wl-background: hsl(0, 0%, 2%);
  --color-wl-border: hsl(0, 0%, 50%, 0.2);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--color-wl-border);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  display: none;
}

html {
  scrollbar-gutter: stable;
  background: var(--color-wl-background);
}

html.dark {
  color-scheme: dark;
  background: var(--color-wl-background);
  color: white;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

.dark::view-transition-old(root) {
  z-index: 2147483646;
}

.dark::view-transition-new(root) {
  z-index: 1;
}
